/* .line-chart {
	width: 100%;
	height: 100%;
}

.line-chartcontainer {
	padding-left: 0px;
	padding-right: 0px;
} */

.boxBorder{
	height: 262px!important;
}

.highcharts-credits{display: none!important;}